{% extends 'user_auth/base.html' %}

{% load static %}

{% block styles %}
	<link rel="stylesheet"
		href="{% static 'user_auth/login.css' %}">
{% endblock %}

{% block content %}
    <div class="login-form">
        <h1 class="form-header">Log in</h1>
        <form action="{% url 'login_page' %}" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Submit">
        </form>
        <div class="registartion-advice">
            <p>Don't have an account? <a href="{% url 'registration_page' %}">Sign up</a></p>
        </div>
    </div>
{% endblock %}
