{% extends 'base.html' %}

{% load static %}

{% block styles %}
	<link rel="stylesheet"
		href="{% static 'articles/all_articles.css' %}">
{% endblock %}

{% block javascript %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>
	function getNewArticles(){
		var article_id = document.evaluate('//div[@class="articles"]/div[1]/@id', document.body, null, XPathResult.STRING_TYPE, null).stringValue;
		var url = "{% url 'get_new_articles_url' event.id %}" + article_id

		$.get(url, function(data) {
			if(typeof data.articles != 'undefined' && data.articles.length > 0){
				for(var article of data.articles){
					var new_article = `<div class="card border-dark mb-3" id="${article.id}">`;
						new_article += '<div class="card-body">'
						new_article += `<h5 class="card-title">${article.title}</h5>`

						if (article.description){
							new_article += `<p class="card-text">${article.description}</p>`
						}
						new_article += '</div>'
						new_article += '<div class="card-footer text-white bg-dark bg-opacity-75">'
						new_article += `<p class="card-text"><b>${article.created_by}</b></p>`
						new_article += '</div>'
						new_article += '</div>'
							
					setNewEntry(new_article);
				}
			}
			setTimeout(getNewArticles, 10000); // 10000 miliseconds = 10 seconds
		});
	}

	function setNewEntry(entry) {
			var articles = document.getElementById('all-articles');
			articles.innerHTML = entry + articles.innerHTML;
		}

	function on_subm(){
		$.ajax({
			data: $('form').serialize(),
			type: "POST",
			url: "{% url 'create_new_article_url' event.id %}",
			success: setTimeout(getNewArticles, 2000),
			error: function (response) {
				alert("Что-то пошло не так(");
				console.log(response.responseJSON.errors)
			}
		});
		return false;
	}

	window.onload = getNewArticles;
  </script>
{% endblock javascript %}

{% block content %}
	<div class="articles" id="all-articles">
		{% for article in articles %}
			<div class="card border-dark mb-3" id="{{ article.id }}">
				<div class="card-body">
					<h5 class="card-title">{{ article.title }}</h5>
					{% if article.description %}
						<p class="card-text">{{ article.description }}</p>
					{% endif %}
				</div>
				<div class="card-footer text-white bg-dark bg-opacity-75">
					<p class="card-text"><b>{{ article.created_by }}</b></p>
				</div>
			</div>
		{% endfor %}
	</div>
	<div class="article-form bg-dark">
		<form method="post" id="create-article">
			{% csrf_token %}
			{{ form }}
			<input type="button" class="btn btn-primary" value="Submit" onclick="return on_subm();">
		</form>
	</div>
{% endblock %}
