{% extends 'base.html' %}

{% load static %}

{% block styles %}
	<link rel="stylesheet"
		href="{% static 'events/all_events.css' %}">
{% endblock %}

{% block content %}
	{% for event in events %}
		<div class="event">
			<div class="event-name">
				<b>Название:</b> {{event.name}}
			</div>
			<div class="event-description">
				<b>Описание:</b> {{event.description}}
			</div>
			<div class="event-start-date">
				<b>Дата начала:</b> {{event.start_date}}
			</div>
		</div>
	{% endfor %}
{% endblock %}
