.container {
    margin-top: 20px;
    overflow: auto; 
}

.articles {
    overflow-y: auto;
}

.article {
    border-style: solid;
    border-width: 1px;
    border-radius: 6px;

    padding: 5px;
}

.article-form {
    position: fixed; 
    left: 0; 
    bottom: 0;
    width: 99%;
    margin-left: 0.5%;
    margin-right: 0.5%;

    border-style: solid;
    border-width: 1px;
    border-radius: 6px;
}

form {
    margin: 3px;

    display: flex;
    align-items: flex-end;
}

textarea, input {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

textarea {
    width: 93%;
    height: 150px;

    border-radius: 4px;

    resize: none;
}